<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style>
    #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
  </style>

  </head>
  <body>
    <h1>Ola, {{usuario.displayName}}</h1>
    <h2>ID: {{usuario.id}}</h2>

    <h3>Personagens Favoritos</h3>

  <br><br>
	<ul>
	{{#each lista_favoritos}}
		<li><a href="/personagem/{{this.id_personagem}}">Id: {{this.id_personagem}}</a> 
		<p>Nome: {{this.nome_personagem}}
       <a href='/insertfavoritos/{{this.id_personagem}}' class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-remove"></span> Remover
        </a>
    </li>
	{{/each}}
	</ul>
  <a href="/logout" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out</a>

  </body>
</html>