<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
 <div>
    <h1>Ola, {{usuario.displayName}}</h1>
    <h2>ID: {{usuario.id}}</h2>

    <form action="/insertfavoritos/" method="POST">
      <input type="hidden" name="id" value="{{id}}" id="id">
      <input type="hidden" name="name" value="{{corpo}}" id="name">

      <button type="submit" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-floppy-disk"></span> Salvar Favoritos
        </button>
    </form>
<br>
    <a href="/insertfavoritos/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-list-alt"></span> Listar Favoritos</a>
    <h1>{{id}} - {{corpo}}</h1>
    <img src={{imagem}} height="300" width="300">
    <p>{{descricao}}</p>

  </div>
  <a href="/logout" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out</a>
  </body>
</html>